@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Survey</h1>
    <p><a href="https://dotnet.microsoft.com/download/dotnet/6.0">Running on Net 6 </a>.</p>
    <p>An <a href="http://Asp.Net/" class="" rel="noopener noreferrer" target="_blank" mlp="3">Asp.Net</a> MVC API Application for the Control Origins Survey</p>
</div>